textarea{min-width: 400px; min-height: 200px}
/*body{font-family: Helvetica, Verdana, Sans-Serif; background-color: SkyBlue}*/
h1{color:white !important ;background-color:#2780e3; padding: 10px 18px !important; line-height: 1.42857143}
